	*{
		padding: 0;
		margin: 0;
		color: #FFFFFF;
	}
	
	nav{
		border: 1px solid #EEEEEE;
		flex: 0 0 200px;
		height: 800px;
		position: fixed;
		
	}
	#main{
		width: 80%;
		margin-left: 220px;
		background-color:   #222222;
		overflow: hidden;
		
	}
	.box{
		display: flex;
		background-color: #222222;
		
	}
	.nav-stacked a{
		color:  #FFFFFF;
	}
	.nav-stacked a:hover,
	.act{
		color: #222;
		background-color: rgba(255,255,255,.5);
	}	
	.disp1{
		display: flex;
		height: 800px;
		justify-content: center;
		align-items: center;
	}
	.disp_text{
		font-size: 10rem;	
		
	}
	nav img{	
		width: 100%;
		
	}
	.disp2{
		display: flex;
		justify-content: center;
		margin-left: 150px;
	}
	.big_img img {
		width: 956px;
		height: 497px;
		border-radius: 20px;
		
	}
	.small_img li{
		margin: 30px;
		border: #EEEEEE solid 2px;
		box-shadow: 0 0 10px #EEEEEE ;
		border-radius: 10px;
		overflow: hidden;
	}
	.img_xz{
		box-shadow: 0 0 30px orangered !important ;
	}
	.small_img li img{
		width: 150px;
		height: 100px;
		cursor: pointer;
		
	}
	